// Define variables
//Font weight variables
$normal-font-weight: 300;

//font size variables
$normal-font-size: 1rem;
$header-font-size: 2rem;

//Color variables
$purple: #cb6fa6;
$light-gray: #f3f3f3;
$medium-gray: #d6d6d6;